@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(1.0000 0.0203 345.6984);
  --foreground: oklch(0.439 0 89.876);
  --card: oklch(1.0000 0.0500 86.8891);
  --card-foreground: oklch(0.5512 0.0000 0.0000);
  --popover: oklch(1.0000 0.0000 0.0000);
  --popover-foreground: oklch(0.5512 0.0000 0.0000);
  --primary: oklch(0.641 0.246 19.456);
  --primary-foreground: oklch(1.0000 0.0000 0.0000);
  --secondary: oklch(0.8895 0.0694 198.1863);
  --secondary-foreground: oklch(0.4011 0.0000 0.0000);
  --muted: oklch(0.9600 0.0504 212.0952);
  --muted-foreground: oklch(0.6595 0.0000 0.0000);
  --accent: oklch(0.994 0.018 103.412);
  --accent-foreground: oklch(0.4011 0.0000 0.0000);
  --destructive: oklch(0.469 0.193 29.234);
  --destructive-foreground: oklch(1.0000 0.0000 0.0000);
  --border: oklch(0.7009 0.1801 348.1385);
  --input: oklch(0.7009 0.1801 348.1385);
  --ring: oklch(0.7802 0.1597 350.7532);
  --sidebar: oklch(0.9940 0.0424 343.0913);
  --sidebar-foreground: oklch(0.4011 0.0000 0.0000);
  --sidebar-primary: oklch(0.707 0.186 17.393);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.9028 0.1095 346.0183);
  --sidebar-accent-foreground: oklch(0.4011 0.0000 0.0000);
  --sidebar-border: oklch(1.0000 0.0327 307.1744);
  --sidebar-ring: oklch(0.7359 0.2118 354.3084);
  --chart-1: oklch(0.7802 0.1597 350.7532);
  --chart-2: oklch(0.8989 0.0799 212.0892);
  --chart-3: oklch(0.9995 0.0801 87.6670);
  --chart-4: oklch(0.8798 0.1110 348.1791);
  --chart-5: oklch(0.6997 0.1899 353.9091);
  --radius: 1.25rem;
  --letter-spacing: 0em;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Georgia", ui-serif, Georgia, serif;
  --shadow-x: 1px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #f83f3f;
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 1px 3px 0px 0px rgba(248, 63, 63, 0.25);
  --shadow-xs: 1px 3px 0px 0px rgba(248, 63, 63, 0.25);
  --shadow-sm: 1px 3px 0px 0px rgba(248, 63, 63, 1), 1px 1px 2px -1px rgba(248, 63, 63, 1);
  --shadow: 1px 3px 0px 0px rgba(248, 63, 63, 1), 1px 1px 2px -1px rgba(248, 63, 63, 1);
  --shadow-md: 1px 3px 0px 0px rgba(248, 63, 63, 1), 1px 2px 4px -1px rgba(248, 63, 63, 1);
  --shadow-lg: 1px 3px 0px 0px rgba(248, 63, 63, 1), 1px 4px 6px -1px rgba(248, 63, 63, 1);
  --shadow-xl: 1px 3px 0px 0px rgba(248, 63, 63, 1), 1px 8px 10px -1px rgba(248, 63, 63, 1);
  --shadow-2xl: 1px 3px 0px 0px rgba(248, 63, 63, 2.5);
}

.dark {
  --background: oklch(0.3297 0.0305 234.1628);
  --foreground: oklch(1.0000 0.0197 349.0784);
  --card: oklch(0.3702 0.0299 233.5352);
  --card-foreground: oklch(1.0000 0.0197 349.0784);
  --popover: oklch(0.3702 0.0299 233.5352);
  --popover-foreground: oklch(1.0000 0.0197 349.0784);
  --primary: oklch(0.9995 0.0801 87.6670);
  --primary-foreground: oklch(0.3297 0.0305 234.1628);
  --secondary: oklch(0.8594 0.0803 4.1330);
  --secondary-foreground: oklch(0.3297 0.0305 234.1628);
  --muted: oklch(0.3513 0.0086 255.5780);
  --muted-foreground: oklch(0.8594 0.0803 4.1330);
  --accent: oklch(0.7499 0.0988 356.9762);
  --accent-foreground: oklch(1.0000 0.0197 349.0784);
  --destructive: oklch(0.6702 0.1806 350.3599);
  --destructive-foreground: oklch(0.2497 0.0305 234.1628);
  --border: oklch(0.5512 0.0500 242.2181);
  --input: oklch(0.5512 0.0500 242.2181);
  --ring: oklch(0.7798 0.0896 201.8673);
  --sidebar: oklch(0.3103 0.0270 235.9743);
  --sidebar-foreground: oklch(1.0000 0.0029 264.5420);
  --sidebar-primary: oklch(0.7359 0.2118 354.3084);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.9028 0.1095 346.0183);
  --sidebar-accent-foreground: oklch(0.3581 0.0296 256.8480);
  --sidebar-border: oklch(0.4529 0.0306 259.7329);
  --sidebar-ring: oklch(0.7359 0.2118 354.3084);
  --chart-1: oklch(0.7798 0.0896 201.8673);
  --chart-2: oklch(0.8594 0.0803 4.1330);
  --chart-3: oklch(0.7499 0.0988 356.9762);
  --chart-4: oklch(0.5208 0.0702 217.0848);
  --chart-5: oklch(0.3513 0.0086 255.5780);
  --radius: 1.25rem;
  --letter-spacing: 0em;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Georgia", ui-serif, Georgia, serif;
  --shadow-x: 1px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: oklch(0.3885 0.0395 241.9310);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 0.25);
  --shadow-xs: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 0.25);
  --shadow-sm: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 1.00), 1px 1px 2px -1px oklch(0.3885 0.0395 241.9310 / 1.00);
  --shadow: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 1.00), 1px 1px 2px -1px oklch(0.3885 0.0395 241.9310 / 1.00);
  --shadow-md: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 1.00), 1px 2px 4px -1px oklch(0.3885 0.0395 241.9310 / 1.00);
  --shadow-lg: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 1.00), 1px 4px 6px -1px oklch(0.3885 0.0395 241.9310 / 1.00);
  --shadow-xl: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 1.00), 1px 8px 10px -1px oklch(0.3885 0.0395 241.9310 / 1.00);
  --shadow-2xl: 1px 3px 0px 0px oklch(0.3885 0.0395 241.9310 / 2.50);
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
